.listIcon {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #9f1835e8;
}
.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.technology {
  display: grid;
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  border-radius: 3rem;
  justify-items: center;
  align-items: center;
}
.nameTechnology {
  text-align: center;
}

.linkDisabled {
  opacity: 0.2;
  pointer-events: none;
}
