.wrapper {
  width: 100%;
  max-width: 1280px;
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
  padding: 20px;
}

.selectTechnologies {
  width: 100%;
  flex-grow: 1;
}

.tabHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}
.tabContent {
  margin-top: 10px;
}
