.game {
  display: flex;
  width: 100vw;
  max-width: 1980px;
  height: 100vh;
  position: fixed;
}

.formLog {
  margin: auto;
  display: grid;
  grid-template-rows: 40% 47% 13%;
  width: 75%;
  max-width: 45rem;
  max-height: 65rem;
  height: 70%;
  background-color: #2b3361c9;
  border-radius: 20px;
  position: relative;
}

.formTitle {
  font-size: 6rem;
  text-align: center;
  align-self: center;
  justify-self: stretch;
  &::after {
    content: "";
    display: block;
    width: 100%;
    position: relative;
    top: 3rem;
    height: 7px;
    background-color: #a31934;
  }
}
.gameForm {
  display: grid;
  justify-items: center;
}

.inputPassword,
.inputEmail {
  width: 100%;
  margin: 1rem 0 0 0.2rem;
  font-size: clamp(1.6rem, calc(0.5rem + 1vw), 1.9rem);
  color: var(--font-color-primary);
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: 700;
}
.inputPassword::placeholder,
.inputEmail::placeholder {
  color: var(--font-color-primary);
}
.formButtons {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  @media screen and (max-width: 350px) {
    flex-flow: column;
    align-items: center;
    gap: 20px;
  }
}
.errorInfo {
  color: #fbc5c5;
  width: 100%;
  text-align: center;
}
.question {
  align-self: flex-end;
  font-weight: 300;
  font-size: 1.9rem;
  text-align: center;
}
.questionType {
  font-weight: 400;
  text-decoration: underline;
  font-size: 2.4rem;
}
