.table {
  margin-top: 30px;
  width: 100%;
  font-size: 1.6rem;
  border-collapse: collapse;
}
.tableHead {
  border-bottom: 1px solid white;
}

.header {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: left;
}
.header::first-letter {
  text-transform: uppercase;
}
.faviconUrl {
  width: 40px;
}
.title {
  width: 470px;
}

.figureTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rate {
  max-width: 10px;
  text-align: center;
}

.linkTitle:hover {
  text-decoration: underline;
}

.row {
  position: relative;
}
.linkTitle:hover .linkIcon {
  opacity: 100%;
}
.linkIcon {
  transition: opacity 0.15s;
  opacity: 40%;
  width: 12px;
  transform: translateY(-5px);
  height: auto;
}
.rowCell {
  width: min-content;
  padding: 12px 5px;
}

.rateNumber {
  min-width: 22px;
  text-align: center;
}
.rateWrapper {
  display: flex;
  width: min-content;
}
.rateIcon {
  width: 22px;
  height: auto;
  opacity: 100%;
  margin: auto;
  transition: opacity 0.2s;
  color: #3e2f69;
}

.activeIncrease,
.increase:hover {
  color: #34c972;
}
.activeDecrease,
.decrease:hover {
  color: #f52b26;
}
.rowTags {
  gap: 2px 3px;
  display: flex;
  flex-wrap: wrap;
}
.sectionTable {
  margin-bottom: 40px;
}

.buttonAction {
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
}

.buttonAction > svg {
  width: 14px;
  height: auto;
}

.buttonDelete {
  color: rgb(233, 80, 80);
}

.buttonAction[aria-disabled="true"] {
  opacity: 90%;
}
