{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/strict",
    "plugin:jest-dom/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:functional/external-recommended",
    "plugin:functional/recommended",
    "plugin:functional/stylistic"
  ],
  "plugins": ["jsx-a11y", "react-hooks", "jest-dom", "@typescript-eslint", "prettier", "functional"],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "functional/no-try-statement": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "functional/no-throw-statement": "off",
    "functional/no-conditional-statement": "off",
    "functional/immutable-data": "off",
    "functional/prefer-type-literal": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "functional/no-expression-statement": "off",
    "react/react-in-jsx-scope": "off",
    "functional/no-return-void": "off",
    "no-console": "warn",
    "functional/functional-parameters": "off"
  },
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module",
    "project": "./tsconfig.json"
  }
}
