.button {
  width: calc(5.8rem + 5vw);
  height: calc(3rem + 2vw);
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}
.button::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  width: 105%;
  height: 80%;
  border-radius: 12px;
  background: var(--button--shadow);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  z-index: 1;
}
.button::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  width: 105%;
  height: 80%;
  border-radius: 12px;
  background: var(--button--shadow);
  z-index: 2;
}
.front {
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  padding: 2.5%;
  width: 100%;
  height: 75%;
  border-radius: 12px;
  font-size: calc(1rem + 0.5vw);
  color: white;
  background: var(--button--background);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.button:hover {
  filter: brightness(110%);
}
.button:hover .front {
  transform: translateY(-8px);
  filter: brightness(110%);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.button:hover .button::before {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button:active .button::before {
  transform: translateY(1px);
  transition: transform 34ms;
}
.button:focus:not(:focus-visible) {
  outline: none;
}
