.button {
  width: clamp(5rem, calc(7rem + 10vw), 13rem);
  height: clamp(4rem, calc(3rem + 5vw), 6.5rem);
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}
.bigButton {
  width: clamp(10rem, calc(10rem + 10vw), 20rem);
  height: clamp(9rem, calc(4rem + 5vw), 8rem);
  font-size: 5rem;
}
.button::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  width: 105%;
  height: 85%;
  border-radius: 12px;
  background: var(--button--shadow);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  z-index: 1;
}
.button::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  width: 105%;
  height: 80%;
  border-radius: 12px;
  background: var(--button--shadow);
  z-index: 2;
}
.front {
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2.5%;
  width: 100%;
  height: 77%;
  border-radius: 12px;
  font-size: clamp(1.1rem, calc(1.1rem + 0.6vw), 2rem);
  color: white;
  background: var(--button--background);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.bigFront {
  font-size: clamp(2.2rem, calc(2.2rem + 3vw), 2.7rem);
}
.button:hover {
  filter: brightness(110%);
}
.button:hover .front {
  transform: translateY(-8px);
  filter: brightness(110%);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.button:hover .button::before {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button:active .button::before {
  transform: translateY(1px);
  transition: transform 34ms;
}
.button:focus:not(:focus-visible) {
  outline: none;
}
