.articleAbout {
  max-height: 130rem;
}
.articleAboutBackground {
  position: relative;
  z-index: 3;
  &::before {
    content: "";
    position: absolute;
    background: url("../../../../Assets/Pages/Home/wave.png") center/cover
      no-repeat;
    width: 100%;
    z-index: -1;
    height: 176%;
    max-height: 170rem;
    top: -4px;
  }
}
.about {
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(40rem, 80rem) 1fr;
  @media screen and (max-width: 1350px) {
    display: flex;
    flex-flow: row wrap;
  }
}
.aboutText {
  align-self: flex-start;
  margin: 5rem 0 0 0;
  padding: 5rem;
  font-size: calc(1.6rem + 0.3vw);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2rem;
}
.aboutTitle {
  align-self: flex-start;
  font-size: clamp(5rem, calc(7rem + 2vw), 6.2rem);
}
.aboutParaghraph {
  font-size: clamp(2rem, calc(2rem + 2vw), 2.2rem);
}
.aboutForm {
  align-self: flex-start;
  display: flex;
}
.aboutFormInput {
  border: 1px solid white;
  color: var(--font-color-primary);
  background-color: var(--bg-color-input);
  padding: 1.5rem 1rem;
  font-size: clamp(1.6rem, calc(1rem + 0.5vw), 1.9rem);
  &::placeholder {
    color: var(--font-color-primary);
  }
  &:focus {
    background: var(--focus--input);
  }
}
.aboutFormSubmit {
  border: 1px solid white;
  color: var(--font-color-primary);
  background-color: var(--bg-color-input);
  -webkit-appearance: none;
  cursor: pointer;
  padding: 1.5rem 1rem;
  font-size: clamp(1.6rem, calc(1rem + 0.5vw), 1.9rem);
}
.aboutImg {
  margin: 3rem 0 -2rem 0;
  width: 100%;
  height: 90rem;
  background: url("../../../../Assets/three__cards__about.svg") no-repeat left /
    cover;
  @media screen and (max-width: 1350px) {
    width: 80%;
    background: url("../../../../Assets/three__cards__about.svg") no-repeat top/
      contain;
  }
}
