.article__about {
  min-height: 100vh;
  max-height: 83rem;
  max-width: 1980px;
  background-color: var(--bg-article-primary);
}
.article__about__background {
  position: relative;
  z-index: 3;
  &::before {
    content: "";
    top: -0.5px;
    left: 0;
    position: absolute;
    background: url("../../../../Assets/about__wave.svg") no-repeat;
    width: 100%;
    z-index: -1;
    min-height: 200%;
  }
}
.about {
  display: grid;
  grid-template-columns: 1fr calc(15rem + 40vw);
  justify-content: center;
  align-items: center;
  height: 100vh;
  @media screen and (max-width: 850px) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: calc(3rem + 2vw);
    align-self: flex-start;
  }
  &__text {
    align-self: flex-start;
    margin: 5rem 0 0 0;
    padding: 0 0 0 3rem;
    font-size: 1.6rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 400;
  }
  &__form {
    align-self: flex-start;
    display: flex;

    &__input {
      border: 1px solid white;
      color: var(--font-color-primary);
      background-color: var(--bg-color-input);
      padding: 2px 5px;
      height: clamp(2rem, 20vw, 2.4rem);
      &::placeholder {
        color: var(--font-color-primary);
      }
    }
    &__submit {
      border: 1px solid white;
      color: var(--font-color-primary);
      background-color: var(--bg-color-input);
      padding: 2px 5px;
      height: clamp(2rem, 20vw, 3rem);
    }
  }
  &__img {
    margin-top: 5rem;
    width: 100%;
    min-height: 90%;
    background: url("../../../../Assets/three__cards__about.svg") no-repeat 1rem /
      cover;
    margin-bottom: 10rem;
    @media screen and (max-width: 850px) {
      background: url("../../../../Assets/three__cards__about.svg") no-repeat
        center/ contain;
      width: 80%;
      height: 80%;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: 850px) and (min-width: 350px) {
      margin: -9rem 0 2rem 10rem;
    }
  }
}
