.articleAbout {
  min-height: 110rem;
}
.articleAboutBackground {
  position: relative;
  z-index: 3;
  &::before {
    content: "";
    top: -1px;
    position: absolute;
    background: url("../../../../Assets/Pages/Home/wave.png") center/cover
      no-repeat;
    width: 100%;
    z-index: -1;
    min-height: 190%;
  }
}
.about {
  padding: 6rem 0 0rem 0;
  display: grid;
  grid-template-columns: 1fr calc(15rem + 40vw);
  justify-content: center;
  align-items: center;
  height: 100vh;
  @media screen and (max-width: 1050px) {
    display: flex;
    flex-flow: row wrap;
  }
}
.aboutText {
  align-self: flex-start;
  margin: 5rem 0 0 0;
  padding: 3rem;
  font-size: calc(1.6rem + 0.3vw);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2rem;
}
.aboutTitle {
  align-self: flex-start;
  font-size: 7rem;
}
.aboutForm {
  align-self: flex-start;
  display: flex;
}
.aboutFormInput {
  border: 1px solid white;
  color: var(--font-color-primary);
  background-color: var(--bg-color-input);
  padding: 0.2rem 0.4rem;
  height: clamp(2rem, 20vw, 2.4rem);
  &::placeholder {
    color: var(--font-color-primary);
  }
}
.aboutFormSubmit {
  border: 1px solid white;
  color: var(--font-color-primary);
  background-color: var(--bg-color-input);
  padding: 0.2rem 1.5rem;
  height: clamp(2rem, 20vw, 3rem);
  -webkit-appearance: none;
}
.aboutImg {
  width: 100%;
  height: 100%;
  background: url("../../../../Assets/three__cards__about.svg") no-repeat 1rem /
    cover;
  @media screen and (max-width: 1050px) {
    background: url("../../../../Assets/three__cards__about.svg") no-repeat top/
      contain;
  }
}
