.card {
  width: 50%;
  height: 50%;
}
.introduce {
  padding-top: 5rem;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: clamp(2.4rem, 4vw, 7rem);
    text-align: center;
  }
  &__img {
    margin: 2rem 0;
    width: 60%;
    height: 60%;
  }
}
@media screen and (max-width: 950px) {
  .card {
    width: 95%;
    height: 95%;
  }
}
