.input {
  width: 100%;
  color: #000000d3;
  padding: 4px;
  font-size: 1.6rem;
  background: linear-gradient(#d6d5dd, #b7b6bd);
}

.input::placeholder {
  color: var(--font-color-primary);
}
.label {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.label :is(span)::first-letter {
  text-transform: uppercase;
}

.errorInfo {
  color: var(--primary-error-color);
  font-size: 1.2rem;
  height: 12px;
}
.errorInfo::first-letter {
  text-transform: uppercase;
}

.oneLine {
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
