.board {
  margin: 5rem 0;
}
.insideBoard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 3rem;
  @media screen and (max-width: 950px) {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3rem;
  }
}
.boardTitle {
  font-size: clamp(1.6rem, 5vw, 2.5rem);
  text-align: center;
  grid-column: 1/4;
}
.secondButton {
  display: flex;
  flex-flow: column;
}
.outsideButton {
  grid-column: 1/4;
  text-align: center;
  font-weight: 500;
  font-size: clamp(1.6rem, calc(1.6rem + 2vw), 2.3rem);
  display: grid;
  justify-items: center;
}
.link {
  width: clamp(3rem, calc(3rem + 5vw), 6rem);
  height: clamp(3rem, calc(3rem + 5vw), 6rem);
  border-radius: 10px;
  padding: 1rem;
  fill: white;
  background-color: #a31935af;
  border: none;
  cursor: pointer;
}

.link:hover {
  transform: background-color 1s;
  background-color: #a31935;
}
.heart {
  fill: transparent;
}
