.backButton {
  position: absolute;
  z-index: 10;
  width: 4rem;
  height: 4rem;
  left: 6%;
  border: none;
  cursor: pointer;
  top: 3.5%;
  font-size: 0;
  background: url("/icons/first-arrow.svg") no-repeat center;
}
.backButton:hover {
  fill: #a31934;
}
