.positionNavigation {
  top: 0;
  position: absolute;
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  align-items: center;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.heroBackground {
  object-fit: cover;
  object-position: top;
  z-index: -20;
}

.heroTitle {
  font-size: clamp(4rem, calc(10vw + 3rem), 20rem);
  font-weight: 700;
}
.heroSubtitle {
  font-size: clamp(2rem, calc(3vw + 0.5rem), 4rem);
  align-self: center;
  font-weight: 300;
  margin-bottom: 20px;
}

.firstSide {
  position: relative;
}

.shoeBackground {
  opacity: 0.6;
  z-index: -2;
  user-select: none;
  object-position: bottom;
}

.bigQuestion {
  margin: 6rem 0;
  min-height: 75rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 35em) {
    min-height: 20rem;
    margin: 8rem 0;
  }
  &::before {
    content: "";
    background: url("/pages/home/bigQuestionBg.svg") no-repeat center/contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    transform: rotate(10deg);
    @media screen and (max-width: 35em) {
      width: 100%;
      height: 100%;
    }
  }
}
.bigQuestionIcon {
  background: url("/icons/crown-color.svg") no-repeat center/contain;
  width: clamp(5rem, 10vw, 15rem);
  height: clamp(5rem, 10vw, 15rem);
}
.bigQuestionTitle {
  margin: 30px 0;
  font-size: clamp(3rem, calc(5vw + 1rem), 7rem);
}
