:root {
  --font-color-primary: #e9e9e9;
  --bg-color-input: #bf2413;
  --bg-article-primary: #221f63;
  --color--underscore: #a31934;
  --button--background: #a31934;
  --button--shadow: #680b1d;
  --hamburger--front: #05ff6d;
  --hamburger--back: #c93434;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  color: var(--font-color-primary);
}
body {
  max-width: 1920px;
  overflow-x: hidden;
  background-color: var(--bg-article-primary);
  margin: 0 auto;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: var(--font-color-primary);
}
ul {
  list-style: none;
}
