.contact {
  display: grid;
  align-items: center;
  justify-content: flex-end;
  margin: auto;

  @media screen and (max-width: 952px) {
    height: 100vh;
  }
}
.contactBackground {
  content: "";
  top: 45%;
  left: -10%;
  width: 100rem;
  height: 80rem;
  position: absolute;
  background: url("../../Assets/Pages/Home/About/ThreeCards.webp") no-repeat
    center/contain;
  z-index: -1;
  @media screen and (max-width: 652px) {
    width: 60rem;
    height: 40rem;
    top: 55%;
    left: -30%;
  }
}
.description {
  justify-self: center;
  align-self: center;
  @media screen and (max-width: 948px) {
    margin-top: -15rem;
    padding: 10px;
  }
}
.descriptionTitle {
  width: 80%;
  font-weight: 600;
  font-size: clamp(2rem, calc(2rem + 2vw), 5.5rem);
}
.descriptionText {
  font-size: clamp(1.6rem, calc(1rem + 2vw), 2rem);
}
.descriptionLinks {
  display: flex;
  gap: 10px;
}
.social {
  cursor: pointer;
}
.social:hover {
  stroke: #a31934;
  border-radius: 5px;
}
.twitter {
  width: 30px;
  height: 30px;
  background: url("../../Assets/SocialIcons/twitter.svg") no-repeat
    center/contain;
}
.facebook {
  width: 27px;
  height: 27px;
  background: url("../../Assets/SocialIcons/facebook.svg") no-repeat
    center/contain;
}
.linkedin {
  width: 34px;
  height: 34px;
  background: url("../../Assets/SocialIcons/linkedin.svg") no-repeat
    center/contain;
}
