.homePage {
  display: grid;
}
.hero {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.heroBackground {
  background: url("../../Assets/Pages/Home/hero__background.png") no-repeat
    center / cover;
  height: 100vh;
  max-height: 1980px;
  @media screen and (max-width: 850px) {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    background-position: center -1rem;
  }
}

.heroTitle {
  font-size: calc(3rem + 10vw);
  font-weight: 700;
}
.heroSubtitle {
  font-size: calc(1rem + 1.2vw);
  align-self: center;
  font-weight: 300;
  margin-bottom: 3rem;
}

.introduce {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: clamp(2.4rem, 4vw, 7rem);
    text-align: center;
  }
  &__img {
    margin-top: 3rem;
    width: 60%;
    height: 60%;
  }
}
.first__side {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 180vw;
    background-color: var(--bg-article-primary);
    top: 0;
    position: absolute;
    z-index: -9;
    min-height: 180rem;
  }
  &::after {
    clip-path: polygon(100% 0, 100% 100%, 0 75%, 0 0);
    content: "";
    width: 100%;
    height: 140vw;
    max-height: 150%;
    background-image: url("../../Assets/shoe.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: -1;
    @media screen and (max-width: 850px) {
      min-height: 180vh;
      background-position: right;
    }
  }
}
.bigQuestion {
  width: 100%;
  height: 60vh;
  margin-bottom: 10rem;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    background: url("../../Assets/Pages/Home/bigQuestionBg.svg") no-repeat
      center/contain;
    position: absolute;
    width: 75%;
    height: 75%;
    z-index: -1;
    opacity: 0.27;
    transform: rotate(10deg);
  }
}
.bigQuestionIcon {
  background: url("../../Assets/Pages/Home/crown-color.svg") no-repeat
    center/contain;
  width: 15rem;
  height: 15rem;
  margin-bottom: -2.2rem;
}
.bigQuestionTitle {
  font-size: calc(1.6rem + 5vw);
  margin-bottom: 5rem;
}
