.hero {
  display: grid;
  justify-items: center;
  align-items: center;
}
.heroBackground {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: url("../../Assets/Pages/Home/HeroBackground.png") no-repeat center /
    cover;
  height: 100vh;
  max-height: 1200px;

  @media screen and (min-width: 1200px) {
    background-position: center -1rem;
  }
  @media screen and (max-width: 850px) {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

.heroTitle {
  font-size: clamp(5rem, calc(10vw + 3rem), calc(27rem - 1vw));
  font-weight: 700;
}
.heroSubtitle {
  font-size: clamp(2rem, 2vw, calc(8rem - 0.3vw));
  align-self: center;
  font-weight: 300;
  margin-bottom: 3rem;
}

.introduce {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduceTitle {
  font-size: clamp(2.4rem, 4vw, 8rem);
  text-align: center;
}
.introduceImg {
  margin-top: 3rem;
  width: 60%;
  height: 60%;
}
.firstSide {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 180vw;
    background-color: var(--bg-article-primary);
    top: 0;
    position: absolute;
    z-index: -9;
    min-height: 180rem;
  }
  &::after {
    clip-path: polygon(100% 0, 100% 100%, 0 75%, 0 0);
    content: "";
    width: 100%;
    height: 165vw;
    max-height: 340rem;
    background: url("../../Assets/Pages/Home/shoe.jpg") no-repeat top / cover;
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: -1;
    @media screen and (max-width: 850px) {
      min-height: 280vw;
    }
  }
}
.bigQuestion {
  width: 100%;
  margin: 6rem 0;
  min-height: 60rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 35em) {
    min-height: 20rem;
    margin: 8rem 0;
  }
  &::before {
    content: "";
    background: url("../../Assets/Pages/Home/bigQuestionBg.svg") no-repeat
      center/contain;
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: -1;
    opacity: 0.27;
    transform: rotate(10deg);
    @media screen and (max-width: 35em) {
      width: 100%;
      height: 100%;
    }
  }
}
.bigQuestionIcon {
  background: url("../../Assets/Pages/Home/crown-color.svg") no-repeat
    center/contain;
  width: clamp(5rem, 10vw, 15rem);
  height: clamp(5rem, 10vw, 15rem);
}
.bigQuestionTitle {
  margin: -1rem 0 3rem 0;
  font-size: clamp(3.7rem, 7vw, 10rem);
}
