.badge {
  border-radius: 7px;
  padding: 2px 6px;
  margin: auto;
  width: max-content;
  font-size: 1.2rem;
  background-color: currentColor;
}

.text {
  color: black;
}
.outline > .text {
  color: white;
}
.outline {
  background-color: transparent;
  border: 1px solid white;
}
