.badge {
  border-radius: 7px;
  padding: 2px 6px;
  width: max-content;
  font-size: 1.3rem;
  gap: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(129, 129, 129);
  background-color: rgb(217, 216, 216);
}

.text {
  color: black;
}
.outline > .text {
  color: white;
}
.outline {
  background-color: transparent;
  border: 1px solid white;
}

.icon {
  width: 15px;
  height: 15px;
  aspect-ratio: 16/9;
}
.text::first-letter {
  text-transform: capitalize;
}
