.circles {
  display: grid;
  grid-template-columns: 1.2fr calc(5vw + 10rem) 0.8fr;
  grid-template-areas: "svg . text";
  justify-content: center;
  height: 85rem;
  @media screen and (max-width: 1050px) {
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "text text text" "svg svg svg";
  }
}
.circlesSvg {
  justify-self: flex-start;
  min-width: 80%;
  grid-area: svg;
  @media screen and (max-width: 1050px) {
    justify-self: center;
    margin-top: 20px;
  }
}
.circlesText {
  padding: 2rem 0;
  font-size: clamp(1.8rem, calc(1.2rem + 2vw), 2rem);
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  grid-area: text;
  background: url("/pages/home/CirclesWave.svg") no-repeat right / contain;
  @media screen and (max-width: 1050px) {
    background-color: var(--button--background);
    padding: 5rem 0;
    height: 15rem;
  }
}
.circlesTitle {
  font-size: clamp(2rem, calc(4rem + 1vw), 4rem);
}
.circlesParagraph {
  width: 60%;
  font-size: clamp(1.6rem, calc(1rem + 1vw), 2rem);
}
