.background {
  position: fixed;
  user-select: none;
  object-fit: cover;
  object-position: bottom center;
  opacity: 0.13;
  left: 0;
  top: 0;
  height: 100%;
}

.wrapper {
  height: 100%;
  position: relative;
  z-index: 2;
}
