.table {
  margin-top: 30px;
  width: 100%;
  font-size: 1.6rem;
  border-collapse: collapse;
}
.tableHead {
  border-bottom: 1px solid white;
}

.header {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: left;
}
.header::first-letter {
  text-transform: uppercase;
}
.title {
  width: 450px;
}
.rate {
  padding-left: 8px;
}
.linkTitle:hover {
  text-decoration: underline;
}

.rate {
  width: 100px;
}
.author {
  width: 200px;
}
.createdAt {
  width: 145px;
}
.row {
  position: relative;
}
.linkTitle:hover .linkIcon {
  opacity: 100%;
}
.linkIcon {
  transition: opacity 0.15s;
  opacity: 40%;
  width: 12px;
  transform: translateY(-5px);
  height: auto;
}
.rowCell {
  padding: 10px;
  padding-left: 0px;
}

.rateWrapper {
  display: flex;
}
.rateIcon {
  width: 25px;
  height: auto;
  opacity: 100%;
  margin: auto;
  transition: opacity 0.2s;
  color: #3e2f69;
}
.rateIcon:hover {
  opacity: 100%;
}
.increase:hover {
  color: #34c972;
}
.decrease:hover {
  color: #f52b26;
}
