.questionCardInner {
  width: 100%;
  height: 11rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-font-color);
  @media screen and (max-width: 952px) {
    height: 14rem;
  }
}
.question {
  font-size: 1.75rem;
}
.questionFavorite {
  position: absolute;
  width: 2.5rem;
  bottom: 10%;
  left: 2.5%;
}
.deleteButton {
  position: absolute;
  left: 2%;
  top: 3%;
  cursor: pointer;
}
.questionRate {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 3rem 2rem 4rem;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.star {
  width: 40px;
}
.questionRatePesonal,
.questionRateGeneral {
  display: grid;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 3.5%;
  bottom: 10%;
  font-size: 1.3rem;
}
.questionRatePesonalInfo {
  grid-template-columns: 5rem 3.2rem;
}
.questionRateGeneral {
  top: 10%;
}
.questionId {
  align-self: flex-end;
}
.questionTitle {
  font-size: clamp(2rem, calc(2.2rem + 2vw), 3rem);
  font-weight: 600;
}

.functionButtons {
  display: flex;
  gap: 40px;
}
.smallStar {
  width: 25px;
}
.blockQuestionRate {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.questionCard {
  position: relative;
  margin: 0.5rem;
  border: 2px solid #fff;
  &:hover {
    border: 2px solid #9f1835;
    transition: border ease-in-out;
  }
}
