.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hideNav {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (max-width: 850px) {
    display: none;
  }
}
.navList {
  display: flex;
  gap: calc(1rem + 3.2vw);
  font-size: calc(2vh + 1.2rem);
}
.navItem {
  font-weight: 600;
}
.hamburger {
  position: fixed;
  top: 10%;
  right: 10%;
  justify-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  z-index: 10;
  @media screen and (min-width: 850px) {
    display: none;
  }
  &Open {
    position: absolute;
    top: 10%;
    right: 10%;
    background: none;
    border: none;
    width: 48px;
    height: 48px;
  }
}
.lineHamburger {
  margin: 4px 0;
  border-radius: 5px;
  height: 8px;
  width: 100%;
  background-color: var(--hamburger--front);
}
.bodyMenu {
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  background-color: #221f63ce;
}
.menu {
}
