.nav {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10rem;
}
.hideNav {
  z-index: 10;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (max-width: 850px) {
    display: none;
  }
}
.navList {
  display: flex;
  font-size: clamp(1.6rem, calc(2vh + 1.2rem), 3.5rem);
}
.navItem {
  font-weight: 600;
  margin: 0 4rem;
}
.hamburger {
  position: fixed;
  top: 6%;
  right: 6%;
  justify-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  z-index: 10;
  @media screen and (min-width: 850px) {
    display: none;
  }
  &Open {
    position: absolute;
    top: 6%;
    right: 6%;
    background: none;
    border: none;
    width: 48px;
    height: 48px;
  }
}
.lineHamburger {
  margin: 4px 0;
  border-radius: 5px;
  height: 8px;
  width: 100%;
  background-color: var(--hamburger--front);
}
.bodyMenu {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100vh;
  background-color: #221f63ce;
  @media screen and (min-width: 850px) {
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../Assets/Pages/Home/bigQuestionBg.svg") no-repeat
      center/contain;
    transform: rotate(175deg);
    opacity: 0.5;
    z-index: -1;
  }
}
.menuList {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.menuItem {
  margin: 8rem 0;
  font-weight: 600;
  font-size: clamp(2rem, calc(2vw + 1.8rem), 5rem);
}
.menuSocial {
  display: flex;
  flex-flow: row wrap;
  margin: 0 1rem;
}
.social {
  margin: 0 0.5rem;
}
.instagram {
  width: 33px;
  height: 33px;
  background: url("../../Assets/SocialIcons/instagram.svg") no-repeat
    center/contain;
}
.twitter {
  width: 35px;
  height: 35px;
  background: url("../../Assets/SocialIcons/twitter.svg") no-repeat
    center/contain;
}
.facebook {
  width: 30px;
  height: 30px;
  background: url("../../Assets/SocialIcons/facebook.svg") no-repeat
    center/contain;
}
