.wrapper {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: grid;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  margin: auto;
  display: grid;
  place-items: center;
  width: 30%;
  min-width: 25rem;
  max-width: 35rem;
  max-height: 55rem;
  height: 80%;
  padding: 10px;
  border-radius: 5%;
  background: linear-gradient(
    228deg,
    rgba(43, 51, 97, 1) 9%,
    rgba(42, 27, 43, 1) 159%
  );
}
.modalTitle {
  font-size: clamp(2rem, calc(3rem + 2vw), 7rem);
  font-weight: 700;
}
.modalText {
  text-align: center;
  font-size: clamp(1.8rem, calc(1rem + 2vw), 2.5rem);
}
.modalIcon {
  width: clamp(4rem, calc(4rem + 5vw), 10rem);
  height: clamp(4rem, calc(4rem + 5vw), 10rem);
}
.rateNumber {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.rateButton {
  padding: 1rem;
  width: 4rem;
  height: 6rem;
  font-size: 2rem;
  border: none;
  color: #ccc;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
}
.rateButton:hover {
  background-color: #9f1835;
  transition: border 1s ease-in-out;
}
.blockButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
