.badgeWrapperInsider {
  stroke-width: 1px;
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1.6rem;
  color: var(--font-color-primary);
}

.buttonSaveArticle {
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid white;
  padding: 3px;
  cursor: pointer;
}

.buttonWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.articleWrapper {
  background-color: #100a42;
  padding: 10px;
  border: 0.25px solid white;
  display: flex;
}

.articleImg {
  width: 200px;
  height: auto;
}
