.board {
  place-self: center;
  display: grid;
  align-items: center;
  place-items: center;

  @media screen and (max-width: 950px) {
    height: 100vh;
  }
}
.insideBoard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-flow: column;
  gap: 4rem;
  justify-items: center;
  @media screen and (max-width: 950px) {
    grid-template-columns: 1fr;
  }
}
.secondButton {
  display: flex;
  flex-flow: column;
}
.outsideButton {
  margin: 0.5rem 0;
  text-align: center;
  font-weight: 600;
  font-size: clamp(1.8rem, calc(2rem+4vw), 4rem);
  display: grid;
  justify-items: center;
}
.link {
  width: clamp(6rem, calc(2rem+10vw), 8rem);
  height: clamp(6rem, calc(2rem+10vw), 8rem);
  border-radius: 20px;
  padding: 1.5rem;
  fill: white;
  background-color: #a31935af;
  border: none;
  cursor: pointer;
}

.link:hover {
  transform: background-color 1s;
  background-color: #a31935;
}
