.board {
  place-self: center;
  display: grid;
  align-items: center;
  place-items: center;
  height: 60vh;
  @media screen and (max-width: 950px) {
    height: 100vh;
  }
}
.insideBoard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-flow: column;
  gap: 4rem;
  justify-items: center;
  @media screen and (max-width: 950px) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.secondButton {
  display: flex;
  flex-flow: column;
}
.outsideButton {
  text-align: center;
  font-weight: 500;
  font-size: clamp(1.6rem, calc(1.6rem + 4vw), 2.3rem);
  display: grid;
  justify-items: center;
}
.link {
  width: clamp(3rem, calc(3rem + 5vw), 6rem);
  height: clamp(3rem, calc(3rem + 5vw), 6rem);
  border-radius: 10px;
  padding: 1.5rem;
  fill: white;
  background-color: #a31935af;
  border: none;
  cursor: pointer;
}

.link:hover {
  transform: background-color 1s;
  background-color: #a31935;
}
.heart {
  fill: transparent;
}
