.board {
  display: grid;
  margin: auto;
  padding: 2rem;
  gap: 20px;
  grid-template-columns: 0.5fr 0.2fr;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 952px) {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
.title {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
}
.card {
  @media screen and (max-width: 952px) {
    display: none;
  }
}
.listTechnology {
  display: flex;
}
.formAddTechInside {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  gap: 20px;
  align-items: center;
  border-radius: 20px;
  background: #a01934;
}
.formAddTechTitle {
  font-size: 2.5rem;
}
.listRadioTechnology {
  max-width: 30rem;
  display: flex;
  gap: 5px;
  overflow-x: auto;
}
.radioLabel {
  cursor: pointer;
  position: relative;
}
.radioInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 3rem;
}
.radioInput:checked {
  background-color: #221f6382;
  border-radius: 5px;
}
.radioIcon {
  display: grid;
  align-items: center;
  position: absolute;
  top: 0;
  right: 15%;
  top: 10%;
  width: 70%;
  height: 70%;
}

.radioTechnologyInside {
  width: 2rem;
  height: 2rem;
}
.textInput {
  width: 100%;
  font-weight: 600;
  font-size: 1.7rem;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid white;
  color: var(--primary--font-color);
}
.textInput::placeholder {
  color: var(--primary--font-color);
}
.textInput:hover,
.textInput:focus {
  background-color: #221f63;
}
.textarea {
  min-height: 10rem;
  resize: none;
}
.radioBoard {
  display: flex;
  flex-flow: column nowrap;
}
.labelBoard {
  display: flex;
  align-items: center;
}
