.board {
  display: grid;
  padding: 2rem;
  grid-template-columns: 0.5fr 0.2fr;
  align-items: center;
  justify-content: center;
}
.listTechnology {
  display: flex;
}
.formAddTech {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  width: 70%;
  border-radius: 20px;
  background: #a01934;
}
.listRadioTechnology {
  display: flex;
  gap: 10px;
}
.radioLabel {
  cursor: pointer;
  position: relative;
}
.radioInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 3rem;
}
.radioInput:checked {
  background-color: #00b0ff;
  border-radius: 10px;
}
.radioIcon {
  margin: auto;
  position: absolute;
  top: 0;
  right: 15%;
  top: 10%;
  width: 70%;
  height: 70%;
}

.radioTechnologyInside {
  width: 2rem;
  height: 2rem;
}
