.footer {
  padding: 0.5rem;
  background-color: var(--button--background);
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  align-items: center;
  justify-items: center;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    right: -50%;
    background: url("../../Assets/Pages/Home/Path\ 120.svg") no-repeat right /
      cover;
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}
.footerForm {
  font-weight: 700;
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column wrap;
  margin: 3rem 0;
  @media screen and (max-width: 900px) {
    grid-row: 1/2;
  }
}
.formTitle {
  font-size: clamp(2.5rem, calc(2.5rem + 2vw), 8rem);
}
.formInput {
  margin: 0.5rem 0;
  padding: 1.2rem 0.5rem;
}
.formTextarea {
  margin: 1rem 0;
  padding: 1.5rem 0.5rem;
  height: 8rem;
  resize: none;
}
.formTextarea,
.formInput {
  color: var(--font-color-primary);
  background-color: transparent;
  width: 100%;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: 700;
}
.formInput::placeholder,
.formTextarea::placeholder {
  color: var(--font-color-primary);
  font-weight: 700;
  letter-spacing: -0.5px;
}
.footerArticle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.articleSection {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 2rem;
  @media screen and (max-width: 850px) {
    display: none;
  }
}
.link {
  margin-top: 0.6rem;
  font-size: clamp(1.6rem, calc(2vh + 1.2rem), 3.5rem);
}
.listSocial {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 2rem;
}
.articleAside {
  display: grid;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.asideTitle {
  align-self: flex-start;
  font-size: clamp(2rem, calc(2vw + 1.5rem), 6rem);
}
.right {
  margin: 5px 10px;
}
.copyrigght {
  align-self: flex-end;
}
.instagram,
.twitter,
.facebook {
  width: 3rem;
  height: 3rem;
  margin: 0 1.2rem;
}
.instagram {
  background: url("../../Assets/SocialIcons/instagram.svg") no-repeat
    center/contain;
}
.twitter {
  width: 3.5rem;
  height: 3.5rem;
  background: url("../../Assets/SocialIcons/twitter.svg") no-repeat
    center/contain;
}
.facebook {
  background: url("../../Assets/SocialIcons/facebook.svg") no-repeat
    center/contain;
}
