.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px 20px 0px;
  row-gap: 30px;
}
.tabPanelWrapper {
  flex-basis: 800px;
}

.tabHeader {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}
.tabContent {
  margin-top: 10px;
}
.selectableSections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
