.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-around;
}
.tabPanelWrapper {
  width: 100%;
  flex-basis: 900px;
}

.tabHeader {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}
