.wrapper {
  width: 100%;
  max-width: 980px;
  display: flex;
  margin: 80px auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
}

.selectTechnologies {
  width: 100%;
  flex-grow: 1;
}

.tabHeader {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}
.tabContent {
  margin-top: 10px;
}
