.hamburger {
  position: fixed;
  top: 6%;
  right: 6%;
  justify-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  z-index: 12;
  @media screen and (min-width: 950px) {
    display: none;
  }
  &Open {
    position: absolute;
    top: 6%;
    right: 6%;
    background: none;
    border: none;
    width: 48px;
    height: 48px;
  }
}
.lineHamburger {
  margin: 4px 0;
  border-radius: 5px;
  height: 8px;
  width: 100%;
  background-color: var(--hamburger--front);
}
