.cardWrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  @media screen and (max-width: 952px) {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #221f63c2;
  }
}
.card {
  color: rgb(27, 27, 27);
  width: clamp(16rem, calc(20rem + 10vw), 31rem);
  height: clamp(30rem, calc(20rem + 30vh), 45rem);
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(230, 224, 224);
  border-radius: 20px;
  font-weight: 600;
  overflow: hidden;
  position: relative;
}
.wave {
  position: absolute;
  right: 320px;
  z-index: 1;
}
.cardTop {
  display: grid;
  position: relative;
  z-index: 2;
  grid-template-columns: 0.4fr 0.6fr;
  align-items: center;
  height: 25%;
}
.cardCenterTop {
  position: relative;
  z-index: 2;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.cardCenterBottom {
  position: relative;
  z-index: 2;
  height: 17%;
  font-size: 5rem;
  text-align: center;
}
.cardButtons {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 13%;
  display: grid;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;
}
.button {
  position: relative;
  z-index: 2;
  background-color: rgb(230, 224, 224);
  border: none;
  cursor: pointer;
  &:first-child {
    border-top: 1px solid black;
    border-bottom-left-radius: 20px;
  }
  &:nth-child(2) {
    border: 1px solid black;
    border-bottom: none;
  }
  &:last-child {
    border-top: 1px solid black;
    border-bottom-right-radius: 20px;
  }
}
.icon {
  justify-self: center;
  position: relative;
  z-index: 2;
  width: clamp(4.5rem, calc(2rem + 5vw), 6.5rem);
  height: clamp(4.5rem, calc(2rem + 5vw), 6.5rem);
}
.iconText {
  font-size: clamp(2.5rem, calc(2rem + 10vw), 2.7rem);
}

.question {
  font-size: 2rem;
  word-break: break-all;
  overflow-y: auto;
  max-height: 20rem;
}
.answer {
  word-break: break-all;
  overflow-y: auto;
  max-height: 20rem;
}
.rating {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1rem 0;
  font-size: clamp(2.6rem, calc(2rem+5vw), 3rem);
}
.star {
  margin: 0 7px;
  width: 4.6rem;
  height: 4.6rem;
}
.favorite {
  margin-top: 2rem;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 952px) {
    display: none;
  }
}
.favoriteText {
  font-size: clamp(2.3rem, calc(2rem+5vw), 3.5rem);
}
.favoriteIcon {
  width: clamp(3rem, calc(1rem+5vw), 5rem);
  height: clamp(3rem, calc(1rem+5vw), 5rem);
}
.functionallButtons {
  margin-top: 2rem;
  display: flex;
  gap: 20px;
}
.hideButton {
  display: none;
  @media screen and (max-width: 952px) {
    display: block;
  }
}
