.game {
  position: relative;
  width: 100vw;
  height: auto;
}
.game::after {
  content: "";
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  min-width: 100%;
  min-height: 100%;
  background: url("../../Assets/Pages/Game/registerBackground.png") no-repeat
    bottom/cover;
  opacity: 0.35;
}
