.wrapperSections {
  display: flex;
  gap: 20px;
}
.heading {
  font-weight: 500;
}
.sectionLogo {
  width: auto;
  height: 40px;
  stroke-width: 2px;
}
.sectionLabel::first-letter {
  text-transform: uppercase;
}
.sectionOption {
  background-color: #382f61d2;
  border-radius: 10px;
  border: 1px solid white;
  width: 105px;
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.selectedSection {
  background-color: #382f619b;
  border: 1px solid #da7688;
  box-shadow: inset 1px 1px 9px #af5061;
}
