.tabsTrigger {
  padding: 3px;
  font-size: 1.4rem;
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
  color: var(--font-color-primary);
}

.tabsList {
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
}
.tabsTrigger:hover {
  background-color: #ce7cdc53;
}

.tabsTrigger[data-state="active"] {
  background-color: #ce7cdc53;
}

.tabsRoot {
  display: flex;
  flex-direction: column;
}
