.tabsTrigger {
  padding: 3px;
  margin: 0px 10px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--font-color-primary);
}

.tabsList {
  display: flex;
  flex-wrap: wrap;
  box-shadow:
    inset 0 -1px 0 0 currentColor,
    0 1px 0 0 currentColor;
}
.tabsTrigger:hover {
  box-shadow:
    inset 0 -1px 0 0 var(--tab-hover),
    0 1px 0 0 var(--tab-hover);
}

.tabsTrigger[data-state="active"] {
  box-shadow:
    inset 0 -1px 0 0 var(--tab-active),
    0 1px 0 0 var(--tab-active);
}

.tabsRoot {
  display: flex;
  flex-direction: column;
}
