.board {
  display: grid;
  grid-template-columns: 20% 45% 35%;
  height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 952px) {
    grid-template-columns: 100%;
  }
}

.questionBoard {
  padding: 2rem 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #9f1835;
}
.boardTitle {
  font-size: 3rem;
  font-weight: 600;
}
.questionCard {
  margin: 1rem;
  border: 1px solid #fff;
  font-weight: 600;
}
.questionCardInner {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-font-color);
  &:hover {
    background-color: #221f63;
    transition: background-color ease-in-out;
  }
}
.listQuestion {
  width: 100%;
  position: relative;
  z-index: 12;
}
.question {
  font-size: 1.75rem;
}
.questionRate {
  align-self: flex-end;
  border: none;
  display: grid;
  grid-template-columns: 1.5rem 3rem;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 4.5rem;
  height: 2rem;
  cursor: pointer;
}
.questionId {
  align-self: flex-start;
}
.questionTitle {
  font-size: clamp(2rem, calc(2.2rem + 2vw), 3rem);
  font-weight: 600;
}
.cardBoard {
  z-index: 0;
  place-self: center;
  position: relative;
  @media screen and (max-width: 952px) {
    position: absolute;
    left: 0;
    z-index: 20;
  }
}
.listQuestionOpen {
  transform: translateY(-20rem);
  transition: transform 0.5s ease-in-out;
}
