.board {
  display: grid;
  grid-template-columns: 20% 45% 35%;
  height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 952px) {
    grid-template-columns: 100%;
  }
}

.questionBoard {
  padding: 1rem 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #221f63;
  position: relative;
}
.boardTitle {
  font-size: 3rem;
  font-weight: 600;
}

.listQuestion {
  overflow: auto;
  width: 100%;
  z-index: 12;
}

.cardBoard {
  z-index: 0;
  place-self: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  @media screen and (max-width: 952px) {
    display: grid;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    place-self: center;
    z-index: 20;
  }
}
