.board {
  display: grid;
  grid-template-columns: 0.75fr 0.35fr;
  height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 952px) {
    grid-template-columns: 100%;
  }
}

.questionBoard {
  padding: 2rem 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #221f63;

  @media screen and (max-width: 952px) {
    border-radius: 20px;
    cursor: pointer;
    padding: 0;
    top: 10rem;
    position: relative;
  }
  @media screen and (max-width: 952px) {
    &:hover {
      transform: translateY(-20rem);
      transition: transform 0.5s ease-in-out;
    }
  }
}
.boardTitle {
  font-size: 3rem;
  font-weight: 600;
  @media screen and (max-width: 952px) {
    width: 100%;
    height: 5rem;
    text-align: center;
  }
}
.questionCard {
  margin: 1rem;
  border: 1px solid #fff;
  font-weight: 600;
}
.questionCardInner {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-font-color);
  &:hover {
    background-color: #9f1835;
    transition: background-color ease-in-out;
  }
}
.listQuestion {
  width: 100%;
  position: relative;
  z-index: 12;
  @media screen and (max-width: 952px) {
    max-height: 25rem;
    overflow-y: auto;
  }
}
.question {
  font-size: 1.75rem;
}
.questionDots {
  align-self: flex-end;
  border: none;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  background: url("../../../../Assets/Icons/dots.png") no-repeat center/contain;
}
.questionId {
  align-self: flex-start;
}
.questionTitle {
  font-size: clamp(2rem, calc(2.2rem + 2vw), 3rem);
  font-weight: 600;
}
.cardBoard {
  place-self: center;
  position: relative;
  z-index: -1;
}
.listQuestionOpen {
  transform: translateY(-20rem);
  transition: transform 0.5s ease-in-out;
}
