.board {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  overflow: hidden;
  @media screen and (max-width: 952px) {
    grid-template-columns: 100%;
  }
}
.changeTech {
  @media screen and (max-width: 952px) {
    display: none;
  }
}
.questionBoard {
  padding: 2rem 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #221f63;
  height: 100vh;
  max-height: 1080px;
  position: relative;
  @media screen and (max-width: 952px) {
    &::before {
      top: -8rem;
      content: "";
      display: block;
      width: 100%;
      height: 4rem;
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem;
      background-color: #9f1835;
      position: absolute;
    }
  }
  @media screen and (max-width: 952px) {
    width: 100vw;
  }
}
.questionCard {
  margin: 1rem;
  border: 4px solid #fff;
  font-weight: 600;
}
.questionCardInner {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-font-color);
  &:hover {
    background-color: #9f1835;
    transition: background-color ease-in-out;
  }
}
.listQuestion {
  width: 80%;
}
.question {
  font-size: 1.75rem;
}
.questionDots {
  align-self: flex-end;
  border: none;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  background: url("../../../../Assets/Icons/dots.png") no-repeat center/contain;
}
.questionId {
  align-self: flex-start;
}
.questionTitle {
  font-size: clamp(2rem, calc(2.2rem + 2vw), 3rem);
  font-weight: 600;
}
.cardBoard {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
