.board {
  margin: auto;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: clamp(2.6rem, calc(5rem+3vw), 6rem);
  font-weight: 600;
}
.technology {
  display: flex;
}
.iconTechnology {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.outsideButton {
  font-weight: 600;
  font-size: clamp(3rem, calc(2rem+4vw), 6rem);
  display: grid;
  justify-items: center;
}
.link {
  width: 7rem;
  height: 7rem;
  border-radius: 20px;
  padding: 2rem;
  background-color: #a31935af;
  border: none;
  cursor: pointer;
}
.link:hover {
  transform: background-color scale 1s;
  background-color: #a31935;
}
.listTechnology {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 4rem;
  border-radius: 2rem;
  background-color: #9f1835e8;
}
.icon {
  border: none;
  cursor: pointer;
}
.technology {
  margin: 0 30px;
}
.nameTechnology {
  text-align: center;
}

.linkDisable {
  opacity: 0.2;
  pointer-events: none;
}
.boardTechnologies {
  text-align: center;
}
