.board {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}
.title {
  font-size: clamp(3rem, calc(5rem+5vw), 6rem);
}
.technology {
  display: flex;
}
.iconTechnology {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.outsideButton {
  font-weight: 600;
  font-size: clamp(3rem, calc(2rem+4vw), 6rem);
  display: grid;
  justify-items: center;
}
.link {
  width: 7rem;
  height: 7rem;
  border-radius: 20px;
  padding: 2rem;
  background-color: #a31935af;
  border: none;
  cursor: pointer;
}
.link:hover {
  transform: background-color scale 1s;
  background-color: #a31935;
}
