.badgeWrapperInsider {
  stroke-width: 1px;
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1.6rem;
  color: var(--font-color-primary);
}

.buttonSaveArticle {
  border: 1px solid white;
  padding: 3px;
  cursor: pointer;
}

.buttonWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.articleWrapper {
  background-color: #100a42;
  padding: 10px;
  border: 0.25px solid white;
  display: flex;
}

.articleImg {
  width: 200px;
  height: auto;
}

.articleFigure {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 20px;
  font-weight: 400;
  margin: 30px;
  border: 1px solid white;
  padding: 10px;
}

.articleTitle {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}
.articleForm {
  max-width: 350px;
  margin: auto;
  margin: 30px auto 10px auto;
}
