.cardWrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.card {
  color: rgb(27, 27, 27);
  width: clamp(40rem, calc(15rem + 1vw), 50rem);
  height: clamp(52rem, calc(20rem + 2vw), 70rem);
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(247, 243, 243);
  border-radius: 20px;
  font-weight: 600;
  overflow: hidden;
  position: relative;
}
.wave {
  position: absolute;
  right: 320px;
  z-index: 1;
}
.cardTop {
  position: relative;
  z-index: 2;
  width: 70%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cardCenterTop {
  position: relative;
  z-index: 2;
  height: 52%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  overflow-y: auto;
}
.cardCenterBottom {
  position: relative;
  z-index: 2;
  height: 10%;
  font-size: 3rem;
  text-align: center;
}
.cardButtons {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 13%;
  display: grid;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;
}
.button {
  border: none;
  cursor: pointer;
  &:first-child {
    border-top: 1px solid black;
    border-bottom-left-radius: 20px;
  }
  &:nth-child(2) {
    border: 1px solid black;
    border-bottom: none;
  }
  &:last-child {
    border-top: 1px solid black;
    border-bottom-right-radius: 20px;
  }
}
.icon {
  width: 6.5rem;
  height: 6.5rem;
}
.iconText {
  font-size: clamp(2.5rem, calc(1rem+2vw), 3rem);
}
.react {
  fill: #459cb4;
}
.question {
  font-size: 2.5rem;
}
