.personalBoard {
  margin: auto;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.personalTitle {
  font-size: clamp(3rem, calc(4rem+2vw), 5rem);
}
.personalTechnology {
  display: flex;
}
.iconTechnology {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 60px;
  height: 60px;
}
