.board {
  display: grid;
  gap: 10px;
  grid-template-columns: 0.3fr 0.2fr;
  align-content: center;
  height: 100vh;
  justify-content: center;
  min-width: 30rem;
  @media screen and (max-width: 952px) {
    grid-template-columns: 0.2fr;
  }
}
.addTechTechnologies {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: clamp(2rem, calc(2rem + 5vw), 3.2rem);
  font-weight: 600;
  margin-top: 5px;
}
.card {
  @media screen and (max-widsth: 952px) {
    display: none;
  }
}
.addTech {
  display: grid;
  justify-items: center;
}
.addTechInside {
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  background: #a01934;
  margin: 10px 0;
  gap: 10px;
}
.formAddTechTitle {
  font-size: 2.2rem;
}
.listRadioTechnology {
  width: 80%;
  display: flex;
  padding: 5px;
  gap: 5px;
  overflow-x: auto;
  @media screen and (max-width: 952px) {
    max-width: 30rem;
  }
}
.radioLabel {
  position: relative;
}
.radioInput {
  appearance: none;
  padding: 3rem;
  cursor: pointer;
  @media screen and (max-width: 952px) {
    padding: 2.8rem;
  }
  @media screen and (max-width: 576px) {
    padding: 2.6rem;
  }
}
.radioInput:checked {
  background-color: #221f6382;
  border-radius: 5px;
}
.radioIcon {
  display: grid;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 15%;
  top: 13%;
  width: 70%;
  height: 70%;
}

.radioTechnologyInside {
  width: 2rem;
  height: 2rem;
}
.textInput {
  font-size: 1.6rem;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid white;
  color: var(--primary--font-color);
}
.textInput::placeholder {
  color: var(--primary--font-color);
}
.favoriteField {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.favoriteInput {
  appearance: none;
}
.favoriteIcon {
  width: 35px;
  height: 35px;
}

.textInput:hover,
.textInput:focus {
  background-color: #221f63;
}
.textarea {
  min-height: 9rem;
  resize: none;
}
.inputsDeck {
  display: flex;
  gap: 5px;
}
.labelDeck {
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  height: 70px;
}

// .deckRadioInput {
//   background-image: url("../../../Assets/Icons/plus.svg") no-repeat;
//   appearance: none;
//   cursor: pointer;
//   position: absolute;
//   bottom: 9%;
//   left: 35%;
//   width: 40px;
//   height: 40px;
//   border-radius: 5px;
//   border: 1px solid white;
//   z-index: 1;
// }
// .deckRadioInput:checked {
//   z-index: 2;
//   position: absolute;
//   background: url("../../../Assets/Icons/check.svg") no-repeat center/contain,
//     #221f63;
// }
